<suite name="HackathonSuite" parallel="tests">

    <!-- Run Login tests in all browsers -->
    <test name="LoginTests-Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.hackathon.automation_framework.SignInTest"/>
        </classes>
    </test>
    <test name="LoginTests-Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.hackathon.automation_framework.SignInTest"/>
        </classes>
    </test>
    <test name="LoginTests-Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.hackathon.automation_framework.SignInTest"/>
        </classes>
    </test>

    <!-- Run Product tests in all browsers -->
    <test name="ProductTests-Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.hackathon.automation_framework.ProductPageTest"/>
        </classes>
    </test>
    <test name="ProductTests-Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.hackathon.automation_framework.ProductPageTest"/>
        </classes>
    </test>
    <test name="ProductTests-Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.hackathon.automation_framework.ProductPageTest"/>
        </classes>
    </test>

    <!-- Run Checkout tests in all browsers -->
    <test name="CheckoutTests-Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.hackathon.automation_framework.CheckoutTest"/>
        </classes>
    </test>
    <test name="CheckoutTests-Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="com.hackathon.automation_framework.CheckoutTest"/>
        </classes>
    </test>
    <test name="CheckoutTests-Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.hackathon.automation_framework.CheckoutTest"/>
        </classes>
    </test>

</suite>
